/* *******************************
  General
******************************* */
$body-bg-color: #FFB2B2;//#FFDEDC;

html {
  font-family: 'Heebo','Helvetica', 'Arial', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2b2b2b;
  scroll-behavior: smooth
}

body {
  margin: 0;
}

i.el-icon-close {
  font-size: 95px;
}

#portfolio .el-dialog {
  background:#fff;
}

.el-header {
  height: auto !important;
  padding: 0;
  background: $body-bg-color;
}
.el-main {
  padding: 0;
  background: $body-bg-color;
}
